{% extends "vehicle/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}Delete vehicles{% endblock %}

{% block content %}
    <div>
        <h3>{% trans "Are you sure you want to delete selected vehicles?" %}</h3>
        <div>
            <form action="{% url 'vehicle:delete_confirm' items %}" method='post'> {% csrf_token %}
                {{ form.items.as_hidden }}
                <button type="submit" name="button" value="yes" class="btn btn-success">{% trans "Yes" %}</button>
                <button type="submit" name="button" value="no" class="btn btn-danger">{% trans "No" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
