{% extends 'vehicle/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form method="get">
    {{  filter.form.as_p }}
    <button name="btn-search" class="btn bnt-secondary" >Szukaj</button>
</form>

<form action="{% url 'vehicle:document_list' %}" method="POST"> {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope='col'>Select</th>
                <th scope="col">Registration plate</th>
                <th scope="col">Model</th>
                <th scope="col">Production year</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in filter.qs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <input type="checkbox" name='item' value="{{ doc.id }}"/>
                    </td>
                    <td>
                        <a href="{{ doc.get_absolute_url }}" class="link-dark">
                            {{ doc.registration.plate }}</a>
                    </td>
                    <td><a href="{{ doc.get_absolute_url }}" class="link-dark">
                            {{ doc.model.name }}</a>
                    </td>
                    <td><a href="{{ doc.get_absolute_url }}" class="link-dark">
                            {{ doc.production_year }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" name="download" value="Pobierz dokumenty"/>
    <input type="submit" name="delete" value="Usuń dokumenty" />
    <button name='btn-ok' value='NOT-OK' class="btn btn-secondary">OK</button>
</form>
{% endblock %}
