{% extends "vehicle/base.html" %}
#{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}Vehicles{% endblock %}

{% block content %}

    <form method="get">
        <h6>{{ filter.form.plate.label }}</h6>
        <h5>{{ filter.form.plate }}</h5>

        <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
    </form>

    <div>
        <a href= "{% url 'vehicle:create' %}" class="link-success">{% trans "Add vehicle" %}</a>
    </div>

    <div>
    <form action='{% url "vehicle:vehicles" %}' method='post'> {% csrf_token %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope='col'>{% trans "Select" %}</th>
                <th scope="col">{% trans "Registration plate" %}</th>
                <th scope="col">{% trans "Model" %}</th>
                <th scope="col">{% trans "Production year" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in filter.qs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <input type="checkbox" name='item' value="{{ vehicle.id }}"/>
                    </td>
                    <td>
                        <a href="{{ vehicle.get_absolute_url }}" class="link-dark">
                            {{ vehicle.plate }}</a>
                    </td>
                    <td><a href="{{ doc.get_absolute_url }}" class="link-dark">
                            {{ vehicle.name }}</a>
                    </td>
                    <td><a href="{{ doc.get_absolute_url }}" class="link-dark">
                            {{ vehicle.production_year }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="button" value="delete" class="btn btn-danger">{% trans "Delete" %}</button>
    <button type="submit" name="button" value="get-csv" class="btn btn-secondary">{% trans "Get data" %}</button>
    </form>
    </div>

{% endblock %}
