{% extends "fleetmanager/base.html" %}
#{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}Vehicles{% endblock %}

{% block content %}
    <div class="pt-4 pb-2">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Advanced search
    </button>
    </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
    <form method="get">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Close
          </button>
    </form>
    </div>
</div>



    <p class="pt-4 pb-2">
        <a href= "{% url 'vehicles:create' %}" class="btn btn-primary" role="'button">{% trans "Add vehicle" %}</a>
    </p>

    <div>
    <form action='{% url "vehicles:vehicles" %}' method='post'> {% csrf_token %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope='col'>{% trans "Select" %}</th>
                <th scope="col">{% trans "Registration plate" %}</th>
                <th scope="col">{% trans "Model" %}</th>
                <th scope="col">{% trans "Production year" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in filter.qs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <input type="checkbox" name='item' value="{{ vehicle.id }}"/>
                    </td>
                    <td>
                        <a href="{{ vehicle.get_absolute_url }}" class="link-dark">
                            {{ vehicle.active_plate }}</a>
                    </td>
                    <td><a href="{{ vehicle.get_absolute_url }}" class="link-dark">
                            {{ vehicle.name }}</a>
                    </td>
                    <td><a href="{{ vehicle.get_absolute_url }}" class="link-dark">
                            {{ vehicle.production_year }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="button" value="delete" class="btn btn-danger">{% trans "Delete" %}</button>
    <button type="submit" name="button" value="get-csv" class="btn btn-secondary">{% trans "Get data" %}</button>
    </form>
    </div>

{% endblock %}
