{% extends "fleetmanager/base.html" %}
<!-- {% load crispy_forms_tags %} -->
{% load i18n %}
{% block title %}{% trans "Delete vehicles" %}{% endblock %}

{% block content %}
    <div>
        <h3>{% trans "Are you sure You want to delete selected documents ?" %}</h3>
        <div>
            <form action="{% url 'documents:delete' items %}" method='post'> {% csrf_token %}
                {{ form.items.as_hidden }}
                <button type="submit" name="button" value="yes" class="btn btn-success">{% trans "Yes" %}</button>
                <button type="submit" name="button" value="no" class="btn btn-danger">{% trans "No" %}</button>
            </form>
        </div>
    </div>
{% endblock %}