{% extends "fleetmanager/base.html" %}
#{% load i18n %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% block title %}Documents{% endblock %}

{% block content %}
    <form method="get">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
    </form>


    <p class="pt-4 pb-2">
        <a href= "{% url 'documents:create' %}" class="link-success">{% trans "Add document" %}</a>
    </p>

    <div>
    <form action='{% url "documents:documents" %}' method='post'> {% csrf_token %}
        <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope='col'>{% trans "Select" %}</th>
                <th scope="col">{% trans "Registration plate" %}</th>
                <th scope="col">{% trans "Title" %}</th>
                <th scope="col">{% trans "File" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for document in filter.qs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <input type="checkbox" name='item' value="{{ document.id }}"/>
                    </td>
                    <td>
                        <a href="{{ document.get_absolute_url }}" class="link-dark">
                            {{ document.active_plate }}</a>
                    </td>
                    <td><a href="{{ document.get_absolute_url }}" class="link-dark">
                            {{ document.title }}</a>
                    </td>
                    <td><a href="{{ document.get_absolute_url }}" class="link-dark">
                            {{ document.file }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="button" value="delete" class="btn btn-danger">{% trans "Delete" %}</button>
    <button type="submit" name="button" value="get-csv" class="btn btn-secondary">{% trans "Get data" %}</button>
    </form>
    </div>

{% endblock %}