{% extends "vehicle/base.html" %}

{% block content %}
    <div class='row'>
        <div class'='col col-12' >
            <p>"POLA JASNE WYPEŁNIA PODATNIK, POLA CIEMNE
                WYPEŁNIA ORGAN PODATKOWY. WYPEŁNIĆ NA
                MASZYNIE, KOMPUTEROWO LUB RĘCZNIE, DUŻYMI,
                DRUKOWANYMI LITERAMI,<br>
                CZARNYM LUB NIEBIESKIM KOLOREM. PRZED
                WYPEŁNIENIEM NALEŻY ZAPOZNAĆ SIĘ Z
                OBJAŚNIENIAMI.
            </p>
        </div>
    <div class='row border border-dark'>
        <div class='row'>
            <div class='col col-6'>
                <p>1. Identyfikator podatkowy NIP / numer PESEL (niepotrzebne skreślić) podatnika</p>
            </div>
            <div class='col col-4 bg-secondary border-start border-end border-dark'>
                2. Nr dokumentu
            </div>
            <div class='col col-2 bg-secondary'>
                <p>3. Status</p>
            </div>
        </div>
        <div class='row'>
            <div class='col col-6'>
                <p>1. Identyfikator podatkowy NIP / numer PESEL (niepotrzebne skreślić) podatnika</p>
            </div>
            <div class='col col-4 bg-secondary border-start border-end border-dark'>
                <p>2. Nr dokumentu</p>
            </div>
            <div class='col col-2 bg-secondary'>
                <p>3. Status</p>
            </div>
        </div>
        <div class='row'>
            <div class='col col-12'>
                DT-1
            </div>
            <div class='col col-12 text-center'>
                DEKLARACJA NA PODATEK OD ŚRODKÓW TRANSPORTOWYCH
            </div>
        </div>
    </div>
    </div>
{% endblock %}
